.square {
    animation: MoveUpDown 21s linear infinite;
    position: absolute;
    left: 5%;
    bottom: 10%;
    height: 8vh;
    width: 8vh;
    background-color: #DF2935;
}

.square0 {
    animation: MoveUpDown 15s linear infinite;
    position: absolute;
    left: 90%;
    bottom: 40%;
    height: 11vh;
    width: 11vh;
    background-color: #2929df;
}

.circle {
    animation: MoveUpDown 16s linear infinite;
    position: absolute;
    left: 20%;
    bottom: 40%;
    height: 5vh;
    border-radius: 50%;
    width: 5vh;
    background-color: #FDCA40;
}

.circle0 {
    animation: MoveUpDown 18s linear infinite;
    position: absolute;
    left: 80%;
    bottom: 65%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: #5ee75e;
}

.triangle {
    animation: MoveUpDown 20s linear infinite;
    position: absolute;
    left: 10%;
    bottom: 70%;
    width: 0; 
    height: 0;
    border-left: 5vh solid transparent;
    border-right: 5vh solid transparent;
    border-bottom: 9vh solid #3772FF;
}
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }