.signup {
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: absolute;
    top: 5%;
    left: 85%;
  }