.signup {
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: absolute;
    top: 5%;
    left: 85%;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
}

.signup:hover {
	transform: scale(1.10);
  }

.signup:active {
	transform: scale(0.9);
}

.login {
    position: absolute;
    top: 5%;
    left: 75%;
    text-decoration: none;
    color: red
}