.container {
  padding: 0 2rem;
}

.title {
  font-size: 12rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  font-size: 2rem;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  font-weight: 500;
  text-align: center;
}

.buttonContainer button {
  height: 3rem;
  width: 12rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.getStarted {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: monaco;
  background-color: #fff;
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.githubDirect {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}